# defaults
**/.git
**/.svn
**/.hg
**/node_modules

#frontend
frontend/bundleinspector.html
**/dist

#server
server/swagger/openapi.json
server/**/*.mjs

#embed
**/static/**
embed/src/utils/chat/hljs.js
