.env.production
.env.development
storage/documents/*
storage/vector-cache/*.json
!storage/documents/DOCUMENTS.md
logs/server.log
*.db
storage/lancedb
public/

# For legacy copies of repo
documents
vector-cache