@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family:
    "plus-jakarta-sans",
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  background-color: white;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.g327 {
  border-color: #302f30;
}

@font-face {
  font-family: "plus-jakarta-sans";
  src: url("../public/fonts/PlusJakartaSans.ttf");
  font-display: swap;
}

.grr {
  grid-template-columns: repeat(2, 1fr);
}

.greyC {
  filter: gray;
  -webkit-filter: grayscale(100%);
  transition: 0.4s;
}

.greyC:hover {
  filter: none;
  -webkit-filter: none;
  transition: 0.4s;
}

.chat__message {
  transform-origin: 0 100%;
  transform: scale(0);
  animation: message 0.15s ease-out 0s forwards;
  animation-delay: 500ms;
}

.w-screen.h-screen.overflow-hidden.bg-sidebar.flex > div:nth-child(2) {
  height: calc(100% - 92px) !important;
  margin-top: 74px !important;
  margin-bottom: 16px;
  border: 1px solid #e3e3e3;
  background-color: #fff;
}

.w-screen.h-screen.overflow-hidden.bg-sidebar.flex > div:nth-child(2).border-2 {
  height: calc(100% - 88px) !important;
}

.text-white {
  color: rgba(0, 0, 0, 0.6);
}

.text-white\/90 {
  color: #000;
  opacity: 0.9;
}

.text-black {
  color: #fff;
}

.bg-zinc-900 {
  background-color: #fff;
}

select,
input[type="number"],
textarea,
input {
  border: 1px solid rgba(0, 0, 0, 0.2) !important;
  outline: none;
}

buttonhover.hover\:text-sky-400 {
  color: rgba(56 189 248, 0.5);
}
.peer:focus ~ .peer-focus\:outline-none {
  --tw-ring-opacity: 0 !important;
}

button.text-red-200 {
  color: red;
}

.react-loading-skeleton {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.react-loading-skeleton::after > div {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  ) !important;
}

.react-loading-skeleton::after {
  background-image: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.1),
    rgba(0, 0, 0, 0)
  ) !important;
}

div[role="checkbox"][aria-checked="true"] {
  border-color: #007abe !important;
}

div[role="checkbox"][aria-checked="true"] > div {
  background-color: #007abe !important;
}

div[role="checkbox"][aria-checked="false"].border-white {
  border-color: #9d9d9d !important;
}

button.text-red-200.hover\:text-white:hover {
  background-color: rgba(255, 0, 0, 0.4) !important;
  color: red !important;
}

.file-row:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

svg.hover\:text-white:hover {
  background-color: transparent !important;
}

.rti--tag {
  background: rgba(0, 0, 0, 0.1) !important;
}
.bg-primary-button {
  background-color: #008ece;
  color: white !important;
}

.bg-primary-button.hover\:text-white:hover svg {
  fill: white !important;
}

.hover\:text-white:hover.bg-primary-button:hover {
  background-color: #007abe !important;
  color: white !important;
}
button.shadow-\[0_4px_14px_rgba\(0\2c 0\2c 0\2c 0\.25\)\] {
  box-shadow: unset;
}

textarea::placeholder,
input::placeholder {
  color: #000 !important;
  opacity: 0.3 !important;
}

button[type="submit"] {
  background-color: #008ece !important; /* Background color */
  color: #fff;
}
button[type="submit"]:hover {
  background-color: #007abe !important; /* Background color */
  color: #fff !important;
}

button[type="submit"].send-message:hover,
button[type="submit"].send-message {
  background-color: inherit !important; /* Background color */
  color: inherit;
}

.bg-sidebar {
  background-color: #f5f5f5;
}

.text-zinc-200 {
  color: #333338;
}

.hover\:bg-\[\#222628\]\/60:hover {
  background-color: #ccc !important;
}

.switch {
  background-color: transparent !important;
  border: none !important;
}
.radio-button.bg-white\/10 {
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-color: #e3e3e3 !important;
}
.radio-button.bg-white\/10 .bg-white {
  background-color: #008ece;
}

.bg-\[\#2E3036\],
.bg-\[\#41444C\] {
  background-color: #ddd !important;
}

.hover\:bg-zinc-700:hover,
.hover\:bg-neutral-700:hover,
.hover\:bg-dark-highlight:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.uploaded-logo {
  background-color: rgba(0, 0, 0, 0.4) !important;
}
.uploaded-logo button {
  color: rgba(255, 255, 255, 0.8) !important;
}

.bg-stone-800 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.hover\:text-white\/60:hover {
  color: rgba(0, 0, 0, 0.6) !important;
}

.hover\:bg-zinc-700:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}

.bg-zinc-700,
.bg-dark-highlight {
  background-color: rgba(0, 0, 0, 0.1);
}
.hover\:bg-switch-selected:hover,
.bg-switch-selected {
  background-image: unset !important;
  background-color: #fff !important;
}
.font-semibold.text-white\/20.text-white {
  color: rgba(0, 0, 0, 0.6) !important;
}
.bg-switch-selected.font-semibold.text-white {
  color: rgba(0, 142, 206, 1) !important;
}

.hover\:bg-\[\#3D4147\]:hover {
  background-color: #efefef !important;
}

.bg-black {
  /* background-color: #fff; */
}

.bg-\[\#303237\],
.bg-zinc-800,
.bg-white {
  background-color: #efefef;
}

.hover\:border-zinc-600:hover {
  border-color: #e3e3e3 !important;
}
.text-sidebar {
  color: rgb(216, 218, 223);
}

.bg-secondary {
  background-color: rgba(255, 255, 255, 1);
}

.bg-zinc-600 {
  background-color: rgba(255, 255, 255, 1);
}
.bg-dark-input {
  background-color: rgba(255, 255, 255, 1);
}
.hover\:text-x-button:hover {
  color: inherit;
}

.bg-sidebar-button {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: #ddd;
  border: 1px solid #e3e3e3;
}
.gap-x-2.bg-sidebar-button {
  background-color: #f5f5f5;
}
button.bg-sidebar-button {
  /* background-color: rgba(0, 0, 0, 0.1); */
  background-color: #ddd;
  border: 1px solid #e3e3e3;
}

button.bg-sidebar-button.bg-transparent {
  background-color: transparent !important;
}

.hover\:bg-historical-msg-user\/90:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.bg-white\/10 {
  background-color: rgba(0, 0, 0, 0.1);
}

.hover\:bg-stone-900:hover,
.bg-\[\#F4FFD0\]\/10,
.bg-zinc-900\/50 {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.bg-historical-msg-user {
  background-color: #ebedf0;
}
.border-transparent {
  border-color: transparent !important;
}
.text-\[\#F4FFD0\],
.text-white\/80 {
  color: rgba(0, 0, 0, 0.8);
}

.border-white\/50 {
  border-color: #e3e3e3;
}

.text-zinc-300 {
  color: #2c2f35;
}
/* .z-99 {
  z-index: 9 !important;
} */
.rounded-2xl {
  border-radius: 8px;
}
button.rounded-2xl {
  border-radius: 16px;
}

.bg-main-gradient {
  background-color: #fff;
  background-image: unset;
}
.absolute .bg-main-gradient {
  background-color: #f5f5f5;
}
.bg-zinc-900\/50 {
  background-color: rgb(255 255 255 / 0.5);
}
.bg-\[\#030712\] {
  background-color: rgb(255 255 255 / 0.9) !important;
}
.hover\:bg-zinc-900\/90:hover {
  /* background-color: rgb(255 255 255 / 0.9) !important; */
}
.add-new-space {
  background-color: #008ece;
}

.add-new-space:hover {
  background-color: #007abe;
}

svg[fill="#D3D4D4"] {
  fill: rgba(0, 0, 0, 0.6);
}

form .rti--container {
  background-color: #eee !important;
}
.text-white\/50,
.text-\[\#D3D4D4\],
.text-white\/60 {
  color: rgba(0, 0, 0, 0.6);
}

.text-gray-300 {
  color: rgba(255, 255, 255, 0.7);
}

.border-2 {
  border-width: 1px;
}

.outline-none {
  border: none !important;
}
.text-description {
  color: rgba(0, 0, 0, 0.6);
}

button.bg-dark-input {
  background-color: rgba(0, 0, 0, 0.1);
}
.border-white,
.border-outline {
  border-color: #e3e3e3 !important;
}

/* modal */
.fixed.backdrop-blur-sm {
  z-index: 99;
}

.absolute.bg-dark-input {
  background-color: white;
  z-index: 100;
}
/*******/

.user.bg-historical-msg-system,
.group.bg-historical-msg-system {
  border-bottom: 1px solid #e3e3e3;
}

.chat-screen form .bg-main-gradient textarea {
  border: none !important;
}

.bg-menu-item-gradient {
  background-image: unset;
  border: 1px solid #e3e3e3;
}

.menu-item-selected {
  background-image: unset;
  fill: rgba(0, 142, 206, 1) !important;
  color: rgba(0, 142, 206, 1) !important;
}
.bg-menu-item-selected-gradient {
  background-image: unset;
  border: 1px solid rgba(0, 142, 206, 1) !important;
  fill: rgba(0, 142, 206, 1) !important;
  color: rgba(0, 142, 206, 1) !important;
}
.menu-item-selected:hover,
.hover\:text-white:hover.bg-menu-item-selected-gradient:hover {
  color: rgba(0, 142, 206, 1) !important;
}
.bg-menu-item-gradient:hover {
  font-weight: 600;
}

.hover\:bg-menu-item-selected-gradient:hover {
  background-image: unset !important;
}

.focus\:border-white:focus {
  border-color: rgba(0, 0, 0, 0.4) !important;
}

.hover\:bg-slate-600\/20:hover {
  background-color: rgba(0, 142, 206, 0.1) !important;
  /* border-color: rgba(0, 142, 206, 0.3) !important; */
}

.bg-workspace-item-selected-gradient,
.hover\:bg-workspace-item-selected-gradient:hover {
  background-image: unset !important;
  background-color: rgba(0, 142, 206, 0.2) !important;
  border-color: rgba(0, 142, 206, 1) !important;
}

.bg-workspace-item-selected-gradient p,
.bg-workspace-item-selected-gradient .squares-four {
  fill: rgba(0, 142, 206, 1) !important;
  color: rgba(0, 142, 206, 1) !important;
}

.peer:checked ~ .peer-checked\:bg-lime-300 {
  background-color: rgba(0, 142, 206, 1) !important;
}

.border-gray-500\/50,
.border-gray-600 {
  border-color: #e3e3e3;
}

.text-red-300 {
  color: rgba(255, 0, 0, 0.6);
}
.hover\:bg-slate-500\/20:hover,
.hover\:text-red-100:hover {
  background-color: rgba(0, 142, 206, 0.1) !important;
  color: rgba(0, 0, 0, 0.6) !important;
}
.hover\:bg-\[\#646768\]:hover,
.hover\:text-white:hover {
  background-color: rgba(0, 142, 206, 0.1) !important;
  color: rgba(255, 255, 255, 0.6) !important;
}

.hover\:bg-\[\#646768\]:hover svg,
.hover\:text-white:hover svg {
  fill: rgba(0, 142, 206, 1) !important;
}

.hover\:text-white:hover,
.text-slate-300,
.text-gray-300,
.text-zinc-300,
.text-slate-100,
.text-slate-400 {
  color: rgba(0, 0, 0, 0.6) !important;
}

.bg-modal-gradient button[type="button"]:hover,
.bg-modal-gradient button[type="button"] {
  background-color: transparent !important;
  color: rgba(0, 0, 0, 0.6) !important;
  background-image: unset !important;
}

.border-white {
  border-color: #fff;
}

.hover\:bg-slate-200\/20:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.shadow-lg {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.drop-down-action {
  border-color: #e3e3e3;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

@keyframes message {
  0% {
    max-height: 100%;
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    max-height: 100%;
    overflow: visible;
    padding-top: 1rem;
  }
}

.doc__source {
  transform-origin: 0 100%;
  transform: scale(0);
  animation: message2 0.15s ease-out 0s forwards;
  animation-delay: 50ms;
}

@keyframes message2 {
  0% {
    max-height: 100%;
  }

  80% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
    max-height: 100%;
    overflow: visible;
  }
}

@media (prefers-color-scheme: light) {
  .sidebar-items:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0px;
    height: 4em;
    top: 69vh;
    z-index: 1;
    pointer-events: none;
  }
}

@media (prefers-color-scheme: dark) {
  .sidebar-items:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0px;
    height: 4em;
    top: 69vh;
    z-index: 1;
    pointer-events: none;
  }
}

@media (prefers-color-scheme: light) {
  .fade-up-border {
    background: linear-gradient(
      to bottom,
      rgba(220, 221, 223, 10%),
      rgb(220, 221, 223) 89%
    );
  }
}

@media (prefers-color-scheme: dark) {
  .fade-up-border {
    background: linear-gradient(
      to bottom,
      rgba(41, 37, 36, 50%),
      rgb(41 37 36) 90%
    );
  }
}

/**
 * ==============================================
 * Dot Falling
 * ==============================================
 */
.dot-falling {
  position: relative;
  left: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #5fa4fa;
  box-shadow: 9999px 0 0 0 #eeeeee;
  animation: dot-falling 1.5s infinite linear;
  animation-delay: 0.1s;
}

.dot-falling::before,
.dot-falling::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
}

.dot-falling::before {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #eeeeee;
  animation: dot-falling-before 1.5s infinite linear;
  animation-delay: 0s;
}

.dot-falling::after {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #eeeeee;
  color: #eeeeee;
  animation: dot-falling-after 1.5s infinite linear;
  animation-delay: 0.2s;
}

@keyframes dot-falling {
  0% {
    box-shadow: 9999px -15px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 9999px 0 0 0 #eeeeee;
  }

  100% {
    box-shadow: 9999px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dot-falling-before {
  0% {
    box-shadow: 9984px -15px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 9984px 0 0 0 #eeeeee;
  }

  100% {
    box-shadow: 9984px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

@keyframes dot-falling-after {
  0% {
    box-shadow: 10014px -15px 0 0 rgba(152, 128, 255, 0);
  }

  25%,
  50%,
  75% {
    box-shadow: 10014px 0 0 0 #eeeeee;
  }

  100% {
    box-shadow: 10014px 15px 0 0 rgba(152, 128, 255, 0);
  }
}

#chat-history::-webkit-scrollbar,
#chat-container::-webkit-scrollbar,
.no-scroll::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
#chat-history,
#chat-container,
.no-scroll {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

.z-99 {
  z-index: 99;
}

.z-98 {
  z-index: 98;
}

.file-uploader {
  width: 100% !important;
  height: 100px !important;
}

.grid-loader > circle {
  fill: #008eff;
}

dialog {
  pointer-events: none;
  opacity: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

dialog[open] {
  opacity: 1;
  pointer-events: inherit;
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
}

.animate-slow-pulse {
  transform: scale(1);
  animation: subtlePulse 20s infinite;
  will-change: transform;
}

@keyframes subtlePulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes subtleShift {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.login-input-gradient {
  background: linear-gradient(
    180deg,
    rgba(61, 65, 71, 0.3) 0%,
    rgba(44, 47, 53, 0.3) 100%
  ) !important;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}

.white-fill {
  fill: white;
}

.tip:before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  position: absolute;

  border-bottom: 8px solid transparent;
  border-top: 8px solid rgba(255, 255, 255, 0.5);
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-radius: 0px 0px 0px 5px;
  left: 1%;

  top: 100%;
}

.user-reply > div:first-of-type {
  border: 2px solid white;
}

.reply > *:last-child::after {
  content: "|";
  animation: blink 1.5s steps(1) infinite;
  color: white;
  font-size: 14px;
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@layer components {
  .radio-container:has(input:checked) {
    @apply border-blue-500 bg-blue-400/10 text-blue-800;
  }
}

.rti--container {
  @apply !bg-zinc-900 !text-white !placeholder-white !placeholder-opacity-60 !text-sm !rounded-lg !p-2.5;
}

.tooltip {
  @apply !bg-black !text-white !py-2 !px-3 !rounded-md;
}

.Toastify__toast-body {
  white-space: pre-line;
}

@keyframes slideDown {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 400px;
    opacity: 1;
  }
}

.slide-down {
  animation: slideDown 0.3s ease-out forwards;
}

@keyframes slideUp {
  from {
    max-height: 400px;
    opacity: 1;
  }

  to {
    max-height: 0;
    opacity: 0;
  }
}

.slide-up {
  animation: slideUp 0.3s ease-out forwards;
}

.input-label {
  @apply text-[14px] font-bold text-white;
}

/**
 * ==============================================
 * Markdown Styles
 * ==============================================
 */
.markdown,
.markdown > * {
  font-weight: 400;
}

.markdown h1 {
  font-size: xx-large;
  line-height: 1.7;
  padding-left: 0.3rem;
}

.markdown h2 {
  line-height: 1.5;
  font-size: x-large;
  padding-left: 0.3rem;
}

.markdown h3 {
  line-height: 1.4;
  font-size: large;
  padding-left: 0.3rem;
}

/* Table Styles */

.markdown table {
  border-collapse: separate;
}

.markdown th {
  border-top: none;
}

.markdown td:first-child,
.markdown th:first-child {
  border-left: none;
}

.markdown table {
  width: 100%;
  border-collapse: collapse;
  color: #bdbdbe;
  font-size: 13px;
  margin: 30px 0px;
  border-radius: 10px;
  overflow: hidden;
  font-weight: normal;
}

.markdown table thead {
  color: #fff;
  text-transform: uppercase;
  font-weight: bolder;
}

.markdown hr {
  border: 0;
  border-top: 1px solid #cdcdcd40;
  margin: 1rem 0;
}

.markdown table th,
.markdown table td {
  padding: 8px 15px;
  border-bottom: 1px solid #cdcdcd2e;
  text-align: left;
}

.markdown table th {
  padding: 14px 15px;
}

@media (max-width: 600px) {
  .markdown table th,
  .markdown table td {
    padding: 10px;
  }
}

/* List Styles */
.markdown ol {
  list-style: decimal-leading-zero;
  padding-left: 0px;
  padding-top: 10px;
  margin: 10px;
}

.markdown ol li {
  margin-left: 20px;
  padding-left: 10px;
  position: relative;
  transition: all 0.3s ease;
  line-height: 1.4rem;
}

.markdown ol li::marker {
  padding-top: 10px;
}

.markdown ol li p {
  margin: 0.5rem;
  padding-top: 10px;
}

.markdown ol li a {
  text-decoration: underline;
}

.markdown ol li p a {
  text-decoration: underline;
}

.markdown ul {
  list-style: revert-layer;
  /* color: #cfcfcfcf; */
  padding-left: 0px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin: 10px;
}

.markdown ul li::marker {
  color: #d0d0d0cf;
  padding-top: 10px;
}

.markdownul li {
  margin-left: 20px;

  padding-left: 10px;
  transition: all 0.3s ease;
  line-height: 1.4rem;
}

.markdownul li a {
  text-decoration: underline;
}

.markdown ul li > ul {
  padding-left: 20px;
  margin: 0px;
}

.markdown p {
  font-weight: 400;
  margin: 0.35rem;
}

.markdown > p > a,
.markdown p a {
  text-decoration: underline;
}

.markdown {
  text-wrap: wrap;
}

.markdown pre {
  margin: 20px 0;
}

.markdown strong {
  font-weight: 600;
  color: #fff;
}

.file-row:nth-child(even) {
  @apply bg-dark-highlight;
}

.file-row:nth-child(odd) {
  @apply bg-[#2C2C2C];
}

.file-row.selected:nth-child(even) {
  @apply bg-sky-500/20;
}

.file-row.selected:nth-child(odd) {
  @apply bg-sky-500/10;
}

/* Flex upload modal to be a column when on small screens so that the UI
does not extend the close button beyond the viewport. */
@media (max-width: 1330px) {
  .upload-modal {
    @apply !flex-col !items-center !py-4 no-scroll;
  }

  .upload-modal-arrow {
    margin-top: 0px !important;
  }
}

.upload-modal {
  @apply flex-row items-start gap-x-6 justify-center;
}

.upload-modal-arrow {
  margin-top: 25%;
}

/* Scrollbar container */
.white-scrollbar {
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ffffff #18181b;
  margin-right: 8px;
}

/* Webkit browsers (Chrome, Safari) */
.white-scrollbar::-webkit-scrollbar {
  width: 3px;
  background-color: #18181b;
}

.white-scrollbar::-webkit-scrollbar-track {
  background-color: #18181b;
  margin-right: 8px;
}

.white-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 4px;
  border: 2px solid #18181b;
}

.white-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #cccccc;
}

/* Recharts rendering styles */
.recharts-text > * {
  fill: #fff;
}

.recharts-legend-wrapper {
  margin-bottom: 10px;
}

.text-tremor-content {
  padding-bottom: 10px;
}

.file-upload {
  -webkit-animation: fadein 0.3s linear forwards;
  animation: fadein 0.3s linear forwards;
}

.file-upload-fadeout {
  -webkit-animation: fadeout 0.3s linear forwards;
  animation: fadeout 0.3s linear forwards;
}

@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.search-input::-webkit-search-cancel-button {
  filter: grayscale(100%) invert(1) brightness(100) opacity(0.5);
}
