/*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/

.github.hljs {
  color: rgb(36, 41, 46);
  background: rgb(255, 255, 255);
}

.github .hljs-doctag,
.github .hljs-keyword,
.github .hljs-meta .hljs-keyword,
.github .hljs-template-tag,
.github .hljs-template-variable,
.github .hljs-type,
.github .hljs-variable.language_ {
  /* prettylights-syntax-keyword */
  color: rgb(215, 58, 73);
}

.github .hljs-title,
.github .hljs-title.class_,
.github .hljs-title.class_.inherited__,
.github .hljs-title.function_ {
  /* prettylights-syntax-entity */
  color: rgb(111, 66, 193);
}

.github .hljs-attr,
.github .hljs-attribute,
.github .hljs-literal,
.github .hljs-meta,
.github .hljs-number,
.github .hljs-operator,
.github .hljs-variable,
.github .hljs-selector-attr,
.github .hljs-selector-class,
.github .hljs-selector-id {
  /* prettylights-syntax-constant */
  color: rgb(0, 92, 197);
}

.github .hljs-regexp,
.github .hljs-string,
.github .hljs-meta .hljs-string {
  /* prettylights-syntax-string */
  color: rgb(3, 47, 98);
}

.github .hljs-built_in,
.github .hljs-symbol {
  /* prettylights-syntax-variable */
  color: rgb(227, 98, 9);
}

.github .hljs-comment,
.github .hljs-code,
.github .hljs-formula {
  /* prettylights-syntax-comment */
  color: rgb(106, 115, 125);
}

.github .hljs-name,
.github .hljs-quote,
.github .hljs-selector-tag,
.github .hljs-selector-pseudo {
  /* prettylights-syntax-entity-tag */
  color: rgb(34, 134, 58);
}

.github .hljs-subst {
  /* prettylights-syntax-storage-modifier-import */
  color: rgb(36, 41, 46);
}

.github .hljs-section {
  /* prettylights-syntax-markup-heading */
  color: rgb(0, 92, 197);
  font-weight: bold;
}

.github .hljs-bullet {
  /* prettylights-syntax-markup-list */
  color: rgb(115, 92, 15);
}

.github .hljs-emphasis {
  /* prettylights-syntax-markup-italic */
  color: rgb(36, 41, 46);
  font-style: italic;
}

.github .hljs-strong {
  /* prettylights-syntax-markup-bold */
  color: rgb(36, 41, 46);
  font-weight: bold;
}

.github .hljs-addition {
  /* prettylights-syntax-markup-inserted */
  color: rgb(34, 134, 58);
  background-color: rgb(240, 255, 244);
}

.github .hljs-deletion {
  /* prettylights-syntax-markup-deleted */
  color: rgb(179, 29, 40);
  background-color: rgb(255, 238, 240);
}

.github .hljs-char.escape_,
.github .hljs-link,
.github .hljs-params,
.github .hljs-property,
.github .hljs-punctuation,
.github .hljs-tag {
  /* purposely ignored */
}
